  body {
    background-color: white;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    /*background-color: grey;*/
    margin: 0 auto;
    height: 50px;
  }
  
  header h2 {
    font-size: 2.5em;
    font-weight: 100;
    letter-spacing: 2px;
    padding: 20px;
    margin-left: 320px;;
  }
  
  main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
    padding-top: 10px;
    padding-bottom: 30px;
  }
  
  div.card {
    margin-top: 30px;
    margin-left: 300px;
    background-color: #eeeeee;
    height: 400px;
    width: 400px;
    /*box-shadow: 10px 10px grey;*/
    padding: 10px;
    border-radius: 10px;
  }
  
  p {
    font-weight: 100;
    letter-spacing: 2px;
    font-size: 1.5em;
    color: black;
    font-family: 'Raleway', sans-serif;
  }
  
  li {
    font-weight: 100;
    letter-spacing: 2px;
    font-family: 'Raleway', sans-serif;
    font-size: 1.05em;
    list-style: none;
    padding-right: 20px;
  }
  
  button {
    font-weight: 100;
    letter-spacing: 2px;
    float: right;
    font-size: .65em;
    color: black;
    background-color: #DCDCDC;
    border-radius: 20px;
    transition-duration: 0.4s;
  }

  button:hover {
    background-color: #4CAF50;
    color: white;
  }
  
  button.delete {
    float: right;
    background-color: #DCDCDC;
  }
  
  button.delete:hover {
    background-color: red;
  }
  
  @media only screen and (min-width: 500px) {
    main {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media only screen and (min-width: 850px) {
    main {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }

  select {
    font-weight: 100;
    letter-spacing: 2px;
    font-family: 'Raleway', sans-serif;
  }
  